.header{
    &__img{
        width: 236px;
        height: 26px;
    }
    &__container{
        padding: 43px 0;
    }
    &__navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list{
        display: flex;
        gap: 33px;
    }
    &__link{
        font-family: "Barlow", sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.92px;
        text-transform: uppercase;
        color: #83888F;
        
        &:hover{
            opacity: 1;
            color: #333D4B;
        }
    }
    .hamburger__icon{
        display: none;
    }
    .close__icon{
        display: none;
    }
    button{
        border: none;
        background-color: transparent;
    }
}

// respponsive mobile

@media only screen and (max-width:767px){
    .header{
        padding: 0 20px;
    }
}

@media only screen and (max-width:570px){
    .header{
        padding: 0 20px;
    }
    .header__container{
        padding-left: 0px;
    }
    .header .hamburger__icon{
        display: block;
    }
    .header .header__list{
        width: 100%;
        height: 100%;
        top: 32%;
        left: 0;
        display: none;
        position: absolute;
        flex-direction: column;
        text-align: center;
        background: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
        
    }
    .header .header__item+.header__item{
        padding-top: 32px;
    }
    .header__link{
        color: #333D4B;
        text-align: center;
        font-family: "Fraunces", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
    }
}


